.gedf-wrapper {
  margin-top: 0.97rem;
}

.box {
  padding:60px 0px;
}

.box-part{
  background:#FFF;
  border-radius:0;
  padding:60px 10px;
  margin:30px 0px;
}

.text{
	margin:20px 0px;
}

.fa {
  color:#4183D7;
}

@media (min-width: 992px) {
  .gedf-main {
    padding-left: 4rem;
    padding-right: 4rem;
  }
  .gedf-card {
    margin-bottom: 2.77rem;
  }
}
